.user-menu, .user-menu--mobile {
  text-align: right;
  color: #4c4b4c;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
}

.user-menu--mobile {
  text-align: center;
}


.main-strip {
  height: 110px;
  .logo-container {
    align-self: center;
    img, a {
      transition: 0.3s ease all;
      width: 138px;
      height: 51px;
      margin: 0 auto;
      display: block;
      &:hover {
        transform: scale(1.03);
      }
      &:active {
        transform: scale(0.8);
      }
    }
  }
}